
body, html {
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  font-family: 'PT Serif', serif;
}

code {
  font-family: 'Fira Mono', monospace;
}



/*https://stackoverflow.com/a/4407335/614661*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/***************/



.InstancePage {
  display: flex;
}
.InstancePage .map-container {
  flex: 1;
  /*background-color: rgba(0, 255, 0, 0.1);*/
}
.InstancePage .extra-info-container {
  flex: 0.1 0 500px;
  min-height: 300px;
  border-right: 1px solid #E5E5E5;
  /*background-color: rgba(0, 0, 255, 0.1);*/
}

@media (max-width: 960px) {
  .InstancePage {
    flex-direction: column-reverse;
  }
  .InstancePage .map-container {
    flex: 1 1 100%;
  }
  .InstancePage .extra-info-container {
    flex: 1 0 40%;
    border-top: 1px solid #E5E5E5;
  }
}


.Tabs {
  margin: 20px;
}
.Tabs .item {
  padding-right: 20px;
  font-size: 2em;
  font-weight: 700;
  font-family: 'PT Serif', serif;
  color: #ccc;
}
.Tabs .item.active {
  color: black;
  /*color: #2F80ED;*/
}

.RequestsInfo {
  /*padding-top: 20px;*/
}
.RequestsInfo .table-container {
  /*margin-left: 20px;*/
  overflow-y: scroll;
  width: 100%;
}
.RequestsInfo table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 15px;
}
.RequestsInfo table td {
  padding: 3px 5px;
}
.RequestsInfo table tr {
  padding-right: 5px;
}
.RequestsInfo table tr.hovered {
  background-color: #2F80ED;
  color: white;
  cursor: pointer;
}



.RequestsInfo .SelectedRequestInfo > div {
  padding: 20px;
}
.RequestsInfo .SelectedRequestInfo code {
  word-wrap: break-word;
}
.RequestsInfo .SelectedRequestInfo code > div {
  line-height: 1.3em;
}
.RequestsInfo .SelectedRequestInfo svg rect.plug {
  stroke: #C4C4C4;
  stroke-width: 1px;
  fill: #F2F2F2;
}
.RequestsInfo .SelectedRequestInfo svg rect.plug.hovered {
  stroke: #2F80ED;
  stroke-width: 3px;
}




.Command {
  margin: 20px;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
}
.Command .input-container {
  display: flex;
}
.Command .input-container .prompt {
  flex: 0 0 40px;
}
.Command .input-container .input {
  flex: 1;
}
.Command .input-container .prompt,
.Command .outputs {
  color: #828282;
}
.Command .outputs > span {
  margin-left: 40px;
}



.ShellPanel .current-input {
  display: flex;
  margin-left: 60px; /* 20px outer margin + 40px prompt width */
  margin-right: 20px;
}
.ShellPanel .current-input > textarea {
  flex: 1;
}
.ShellPanel .current-input > button {
  flex: 0 0 50px;
}
