
body, html {
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  font-family: 'PT Serif', serif;
}

code {
  font-family: 'Fira Mono', monospace;
}



/*https://stackoverflow.com/a/4407335/614661*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/***************/



.InstancePage {
  display: flex;
}
.InstancePage .map-container {
  flex: 1;
  /*background-color: rgba(0, 255, 0, 0.1);*/
}
.InstancePage .extra-info-container {
  flex: 0.1 0 500px;
  min-height: 300px;
  border-right: 1px solid #E5E5E5;
  /*background-color: rgba(0, 0, 255, 0.1);*/

  position: relative;
}
.InstancePage .tab-container {
  position: absolute;
  top: 70px; /* for tabs */
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

@media (max-width: 960px) {
  .InstancePage {
    flex-direction: column-reverse;
  }
  .InstancePage .map-container {
    flex: 1 1 100%;
  }
  .InstancePage .extra-info-container {
    flex: 1 0 40%;
    border-top: 1px solid #E5E5E5;
  }
}


.Tabs {
  margin: 20px;
}
.Tabs a {
  text-decoration: none;
  padding-right: 20px;
  font-size: 2em;
  font-weight: 700;
  font-family: 'PT Serif', serif;
  color: #ccc;
}
.Tabs a.active {
  color: black;
  /*color: #2F80ED;*/
}

.RequestsListPage {
  margin-left: 15px;
}
.RequestsListPage table {
  width: 100%;
  border-collapse: collapse;
}
.RequestsListPage table td {
  padding: 3px 5px;
}
.RequestsListPage table tr {
  padding-right: 5px;
}
.RequestsListPage table tr.hovered {
  background-color: #2F80ED;
  color: white;
  cursor: pointer;
}



.RequestPage > div {
  padding: 20px;
}
.RequestPage code {
  word-wrap: break-word;
}
.RequestPage code > div {
  line-height: 1.3em;
}
.RequestPage svg rect.plug {
  stroke: #C4C4C4;
  stroke-width: 1px;
  fill: #F2F2F2;
}
.RequestPage svg rect.plug.hovered {
  stroke: #2F80ED;
  stroke-width: 3px;
}




.Command {
  margin: 20px;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
}
.Command .input-container {
  display: flex;
}
.Command .input-container .prompt {
  flex: 0 0 40px;
}
.Command .input-container .input {
  flex: 1;
}
.Command .input-container .prompt,
.Command .outputs {
  color: #828282;
}
.Command .outputs > pre {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.Command .outputs > pre a {
  color: #828282;
}
.Command .outputs > pre a:hover {
  color: #2F80ED;
}



.ShellPanel {
  /*position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;*/

  /*height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}
.ShellPanel .current-input {
  display: flex;
  margin-left: 60px; /* 20px outer margin + 40px prompt width */
  margin-right: 20px;
  margin-bottom: 20px;
}
.ShellPanel .current-input textarea {
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
}
.ShellPanel .current-input > textarea {
  flex: 1;
}
.ShellPanel .current-input > button {
  flex: 0 0 50px;
}



.ProcessPanel {
  margin: 0 20px;
}

.ProcessPanel code div {
  margin: 5px 0;
}