rect.HttpReq {
  stroke: #C4C4C4;
  stroke-width: 1px;
  fill: #F2F2F2;
}

rect.HttpReq.current,
rect.HttpReq.hovered {
  stroke: #2F80ED;
}



.Process .body {
  fill: #D9D9D9;
}
.Process .exit {
  fill: #FC8888;
}
.Process .spawn {
  stroke: #828282;
  stroke-width: 1px;
}