rect.HttpReq {
  stroke: #C4C4C4;
  stroke-width: 1px;
  /*fill: #F2F2F2;*/
  fill: transparent;
}

rect.HttpReq.current,
rect.HttpReq.hovered {
  stroke: #2F80ED;
}



.process-body {
  fill: #D9D9D9;
}
.process-body.selected,
.process-body.hovered {
  stroke: #2F80ED;
  stroke-width: 1px;
}
.process-exit {
  fill: #FC8888;
}
.spawn {
  stroke: #828282;
  stroke-width: 1px;
}
