{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{shell, [{apps, [vision]}]}.

{deps, [
  {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.8.6"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
  {gen_tracker, {git, "git://github.com/vladimir-vg/gen_tracker.git", {branch, "add-existing-child-spec"}}},
  {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}},
  {epgpool, {git, "git://github.com/egobrain/epgpool.git", {tag, "1.1.1"}}},
  {eql, {git, "git://github.com/artemeff/eql.git", {ref, "07414842dddd33b0ab6f443458e01992d5d9e322"}}}
]}.

% % port compiler
% {plugins, [pc]}.
% {provider_hooks, [
%   {pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
% ]}.