{deps, [
  {websocket_client, {git, "git://github.com/jeremyong/websocket_client.git", {ref, "9a6f65d05ebf2725d62fb19262b21f1805a59fbf"}}},

  {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.8.6"}}},
  {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}},

  batiscaph,
  batiscaph_probe
]}.
{ct_opts, [{ct_hooks, [batiscaph_probe_cth]}]}.