{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
  {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.6.1"}}},
  {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}}
]}.