html, body { margin: 0; padding: 0; }

svg .unselectable {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg .unselectable::selection {
  background: none;
}

/***/

.container {
  display: flex;
}

.container > .svg-area {
  flex: 3;
}
.container > .aside-area {
  background-color: #d7e3f4;
  background-color: #f3f7fc;
  background-color: #fff;
  border-left: 1px solid #d7e3f4;
  flex: 0 0 300px;
}

rect.proc {
  fill: #ccc;
}
line.spawn-line {
  stroke: #ccc;
  stroke-width: 1;
}
rect.bad-reason {
  fill: #ff5555;
}



.message-self-send {
  fill: none;
  stroke: #3771c8;
  stroke-width: 1;
  marker-start: url(#markerSendStart);
  /*marker-end: url(#markerSendEnd);*/
}

line.message-send {
  stroke: #3771c8;
  stroke-width: 1;
  marker-start: url(#markerSendStart);
  marker-end: url(#markerSendEnd);
}

circle.marker-send-start {
  stroke: none;
  fill: #3771c8;
}

path.marker-send-end {
  fill: #3771c8;
}



rect.proc.selected {
  stroke: #5599ff;
  stroke-width: 2;
}
rect.proc.selected-ancestor {
  stroke: #aaccff;
  stroke-width: 2;
}

rect.shell-sideline {
  fill: #ebf0ff;
}

rect.shell-area {
  fill: #f3f7fc;
}

line.shell-area-border {
  stroke: #d7e3f4;
  stroke-width: 1;
}

text.shell-text,
text.shell-prompt-left,
text.shell-prompt-center {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

text.shell-prompt-center {
  text-anchor: middle;
}

text.shell-prompt-left {
  text-anchor: start;
}

